@{
    Layout = "_LayoutLogin";
}

<link href="~/css/login/index.css" rel="stylesheet" />

<div class="card w-75 mx-auto">
    <form class="w-100 h-100" asp-action="Acessar" asp-controller="Login">
        <div class="card-body">
            <h4 class="card-title m-0 fw-bold">Login</h4>
            <span class="card-subtitle mb-2 text-muted">Insira seus dados para acessar a aplicação</span>

            <hr class="my-2" />

            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email" />
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" name="senha" />
            </div>
            <div class="mb-2">
                <span class="card-subtitle text-muted">Ainda não tem uma conta?</span>
                <a asp-asp-controller="Login" asp-action="Cadastro" class="link-sucess">CADASTRE-SE</a>
            </div>

            <input type="submit" class="btn btn-success w-100 mb-2" value="Acessar" />
        </div>
    </form>
</div>
