@model IEnumerable<DispositivoViewModel>
@{
    ViewData["Title"] = "Dispositivos";
}

<div class="page-title">
    <h1>Dispositivos</h1>
    <a asp-action="Cadastro" asp-controller="Dispositivos" class="btn btn-success">Adicionar</a>
</div>

<div class="card-list mt-4">
    @foreach (var dispositivo in Model)
    {
        <div class="card w-100">
            <div class="card-body row align-items-center w-100 m-0">
                <div class="col p-0">
                    <span class="card-title">@dispositivo.Nome</span>
                    <span class="tag tag-ativo ms-1">@(dispositivo.Ativo)</span>
                </div>
                <div class="col-auto p-0">
                    <a asp-action="Detalhes" asp-controller="Dispositivos" class="btn btn-secondary">Detalhes</a>
                </div>
            </div>
        </div>
    }
</div>