#line-data{
    display:flex;
    gap: 10px;
    height: 15%;
    margin: 0 !important;
}

.card{
    padding: 10px;
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #696a69;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin: 0 !important;
}

.card-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-data{
    color: #3f453f;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2.5px;
    line-height: 32px;
}

.card-icon {
    font-size: 32px;
    color: #7eda84;
}

#main-data{
    display: flex;
    gap: 10px;
    height: 85%;
    margin: 0 !important;
}

.card-title-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0;
    max-height: 100%;
}

#column-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    max-height: 100%;
}

canvas{
    height: 90% !important
}